version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'

    groups:
      not-breaking-changes:
        update-types:
          - "patch"
          - "minor"
